@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page-body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.main-header {
  position: relative;
  padding: 17px 20px;
}
.main-header.no-js {
  padding: 0;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  width: 185px;
  height: 96px;
  transform: translate(-50%);
}
.main-header__logo:hover {
  opacity: 0.6;
}

.main-header__toggle {
  margin-left: auto;
}

.site-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.is-open .site-list {
  display: block;
}
.no-js .site-list {
  position: relative;
  display: block;
}

.site-list__link {
  display: block;
  padding: 17px 67px 12px 67px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
}
.site-list__link:hover {
  background-color: #669ec0;
}
.site-list__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hero {
  position: relative;
  background-color: #000000;
}
.hero--index {
  padding: 90px 19px 85px 19px;
  background-image: url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero--inner {
  padding: 52px 46px 67px 45px;
  background-image: url("../img/hero-background-inner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-transform: uppercase;
}

.advantages__photo-text {
  margin: 0;
}

.advantages__content-wrapper {
  padding: 54px 18px 40px 18px;
  text-align: center;
  background-color: #81b3d2;
}
.advantages__content-wrapper--second {
  padding-top: 37px;
  padding-bottom: 37px;
}

.advantages__heading {
  padding: 32px 18px 16px 18px;
}

.advantages__heading .heading__title {
  margin-bottom: 35px;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__title--white {
  color: #ffffff;
}
.advantages__title--no-nubmer {
  margin-bottom: 16px;
}

.advantages__number {
  display: block;
  margin-top: 11px;
  margin-bottom: 17px;
  color: #333333;
}
.advantages__number--white {
  color: #ffffff;
}

.advantages__description {
  margin: 0;
  color: #333333;
}
.advantages__description--white {
  color: #ffffff;
}

.advantages__image {
  display: block;
  width: 100%;
  max-height: 260px;
  object-fit: cover;
}

.advantages__list {
  margin: 0;
  padding: 23px 18px 46px 65px;
  list-style: none;
}

.advantages__item {
  padding-top: 8px;
}
.advantages__item:not(:first-child) {
  margin-top: 25px;
}

.advantages__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}

.advantages__subitem {
  padding-top: 24px;
  padding-bottom: 24px;
}

.advantages__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__subnumber {
  display: block;
  margin-top: 11px;
  margin-bottom: 17px;
  color: #333333;
}

.advantages__subdescription {
  margin: 0;
  color: #333333;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.heading__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.heading__description {
  margin: 0;
  color: #333333;
}

.hotel-search {
  padding: 38px 29px 49px 29px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__text {
  margin: 0;
  margin-bottom: 32px;
}

.hotel-search__button {
  padding: 16px 20px;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.map__image {
  display: block;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.map__iframe {
  width: 100%;
}

.page-footer {
  padding: 33px 82px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 129px;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
}
.page-footer__copyright-link:hover {
  color: #81b3d2;
}
.page-footer__copyright-link:active {
  color: #b3b3b3;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: block;
  padding: 24px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vk {
  background-image: url("../img/svg-image/vk-icon-mobile.svg");
}
.social__link--telegram {
  background-image: url("../img/svg-image/telegram-icon-mobile.svg");
}
.social__link--youtube {
  background-image: url("../img/svg-image/youtube-icon-mobile.svg");
}

.burger-button {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 23px;
  height: 22px;
  padding: 0;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.no-js .burger-button {
  display: none;
}

.burger-button__line {
  display: block;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  transition: all 0.3s ease;
}
.burger-button__line:not(:last-child) {
  margin-bottom: 5px;
}

.is-open .burger-button__line {
  background-color: #ffffff;
}
.is-open .burger-button__line:nth-child(2) {
  position: relative;
  top: 48%;
  transform: rotate(45deg);
}
.is-open .burger-button__line:nth-child(3) {
  display: none;
}
.is-open .burger-button__line:nth-child(4) {
  position: relative;
  top: 10%;
  transform: rotate(-45deg);
}

.media-content__heading {
  padding: 37px 20px 25px 20px;
}

.media-content .heading__title {
  margin-bottom: 24px;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  padding: 24px 20px 25px 20px;
}

.gallery__card {
  margin: 0;
}

.gallery__image-link {
  display: block;
  margin-bottom: 15px;
}

.gallery__image {
  display: block;
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}

.gallery__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.gallery__author {
  margin: 0;
  color: #333333;
}

.gallery__count {
  display: block;
  margin-top: 11px;
  font-weight: 700;
}

.video {
  text-align: center;
  text-transform: uppercase;
}

.video__text-wrapper {
  padding: 17px 26px 38px 28px;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video__text {
  margin: 0;
  color: #333333;
}

.video__image-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.video__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.feedback__heading {
  padding: 36px 20px 28px 20px;
}

.feedback__heading .heading__title {
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__fieldset {
  width: 100%;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  border: none;
}
.form__fieldset--name {
  padding-bottom: 39px;
}
.form__fieldset--contacts {
  padding-bottom: 34px;
}
.form__fieldset--textarea {
  padding-bottom: 0;
}

.form__legend {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.form__inputs-list,
.form__checkbox-list,
.form__radio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__inputs-item:not(:last-child) {
  margin-bottom: 16px;
}

.form__radio-item:not(:last-child),
.form__checkbox-item:not(:last-child) {
  margin-bottom: 16px;
}

.form__textarea {
  width: 100%;
  min-width: 279px;
  height: 160px;
  margin: 0;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  resize: none;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.form__button {
  width: 100%;
  margin-top: 56px;
  margin-right: auto;
  padding: 16px 20px;
}

.form__notice {
  margin: 0;
  margin-top: 3px;
  margin-left: auto;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}

.form-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-input__text {
  display: block;
  padding-left: 16px;
  color: #333333;
  text-transform: uppercase;
}

.form-input__input {
  min-width: 280px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
.form-input__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.custom-field__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.modal {
  text-align: center;
  text-transform: uppercase;
}
.modal--error-geometry {
  padding: 45px 42px 35px 41px;
}
.modal--success-geometry {
  padding-top: 39px;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.modal__text {
  margin: 0;
  margin-bottom: 28px;
  color: #333333;
}

.modal__text-wrapper {
  max-width: 244px;
  margin: 0 auto;
}

.modal__button {
  margin: 0 auto;
}
.modal__button--error {
  padding: 18px 64px;
}
.modal__button--success {
  padding: 18px 62px 14px 60px;
}

.modal__button-wrapper {
  margin-top: 2px;
  padding: 20px;
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */