.advantages {
  text-transform: uppercase;
}

.advantages__photo-text {
  margin: 0 auto;

  &--clip {
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);

    @media (min-width: $vp-768) {
      clip-path: none;
    }
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 54px 18px 40px 18px;

  text-align: center;

  background-color: $color-seagull;

  @media (min-width: $vp-768) {
    width: 33.33%;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px 51px 50px;
  }

  &--second {
    padding-top: 37px;
    padding-bottom: 37px;

    @media (min-width: $vp-768) {
      order: 2;
      padding: 52px 33px 31px 33px;
    }

    @media (min-width: $vp-1200) {
      padding: 52px 50px 51px 50px;
    }
  }
}

.advantages__heading {
  padding: 32px 18px 32px 18px;

  @media (min-width: $vp-768) {
    padding: 47px 124px 56px 124px;
  }

  @media (min-width: $vp-1200) {
    padding: 59px 358px 44px 357px;
  }
}

.advantages__heading .heading__title {
  margin-bottom: 35px;
}

.advantages__title {
  margin: 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    max-width: 155px;

    font-size: 21px;
  }

  &--white {
    color: $color-white;
  }

  &--no-nubmer {
    margin-bottom: 16px;
  }
}

.advantages__number {
  display: block;
  margin-top: 11px;
  margin-bottom: 17px;

  color: $color-night-rider;

  &--white {
    color: $color-white;
  }
}

.advantages__description {
  margin: 0 auto;

  color: $color-night-rider;

  @media (min-width: $vp-768) {
    max-width: 190px;
  }

  @media (min-width: $vp-1200) {
    max-width: 300px;
  }

  &--white {
    color: $color-white;
  }
}

.advantages__image-wrapper {
  @media (min-width: $vp-768) {
    flex-grow: 1;
  }
}

.advantages__image {
  display: block;
  width: 100%;

  object-fit: cover;

  @media (max-width: ($vp-768 - 1px)) {
    max-height: 260px;
  }

  @media (min-width: $vp-768) {
    height: 100%;
  }
}

.advantages__list {
  margin: 0;
  padding: 23px 18px 46px 18px;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    text-align: center;
  }
}

.advantages__item {
  position: relative;

  padding-top: 8px;
  padding-left: 47px;

  @media (min-width: $vp-768) {
    width: 33.33%;
    margin: 0;
    padding: 156px 33px 61px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 166px 50px 71px 50px;
  }

  &:not(:first-child) {
    margin-top: 25px;

    @media (min-width: $vp-768) {
      margin: 0;
    }
  }

  &--house {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 38px;

      background-image: url("../img/svg-image/icon-house.svg");
      background-repeat: no-repeat;

      @media (min-width: $vp-768) {
        top: 60px;
        left: 50%;

        width: 77px;
        height: 72px;

        background-size: 77px 72px;
        transform: translate(-50%);
      }

      @media (min-width: $vp-1200) {
        top: 69px;

        width: 82px;
        height: 75px;

        background-size: 82px 75px;
      }
    }
  }

  &--burger {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 36px;

      background-image: url("../img/svg-image/icon-burger.svg");
      background-repeat: no-repeat;

      @media (min-width: $vp-768) {
        top: 62px;
        left: 50%;

        width: 81px;
        height: 68px;

        background-size: 81px 68px;
        transform: translate(-50%);
      }

      @media (min-width: $vp-1200) {
        top: 72px;

        width: 74px;
        height: 69px;

        background-size: 73px 69px;
      }
    }
  }

  &--souvenirs {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 32px;
      height: 38px;

      background-image: url("../img/svg-image/icon-gift.svg");
      background-repeat: no-repeat;

      @media (min-width: $vp-768) {
        top: 64px;
        left: 50%;

        width: 67px;
        height: 75px;

        background-size: 67px 75px;
        transform: translate(-50%);
      }

      @media (min-width: $vp-1200) {
        top: 69px;

        transform: translateX(-50%) scaleX(1.22);
      }
    }
  }
}

//  Sublist
.advantages__sublist {
  margin: 0;
  padding: 0 18px 4px 18px;

  list-style: none;
  text-align: center;

  background-color: $color-whisper-lightness;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__subitem {
  padding: 24px 10px;

  &:not(:last-child) {
    @media (max-width: ($vp-768 - 1px)) {
      border-bottom: 1px solid $color-light-gray;
    }
  }

  @media (min-width: $vp-768) {
    width: 33.33%;
    padding: 41px 33px 61px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px;
  }
}

.advantages__subtitle {
  margin: 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    max-width: 155px;

    font-size: 21px;
  }
}

.advantages__subnumber {
  display: block;
  margin-top: 11px;
  margin-bottom: 17px;

  color: $color-night-rider;
}

.advantages__subdescription {
  margin: 0 auto;

  color: $color-night-rider;

  @media (min-width: $vp-768) {
    max-width: 190px;
  }

  @media (min-width: $vp-1200) {
    max-width: 300px;
  }
}
