.feedback__heading {
  padding: 36px 20px 28px 20px;

  @media (min-width: $vp-768) {
    padding: 64px 166px 44px 166px;
  }

  @media (min-width: $vp-1200) {
    padding: 115px 380px 4px 380px;
  }
}

.feedback__heading .heading__title {
  margin-bottom: 24px;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;

    font-size: 30px;
  }

  @media (min-width: $vp-1200) {
    margin-bottom: 31px;
  }
}

.feedback__heading .heading__description {
  max-width: 435px;
}

.feedback__forms {
  @media (min-width: $vp-768) {
    padding: 64px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 64px 120px;
  }
}
