.form {
  display: flex;
  flex-wrap: wrap;
}

.form__fieldset {
  position: relative;

  width: 100%;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border: none;

  @media (min-width: $vp-768) {
    margin-top: 0;
    padding: 0;

    border-top: 1px solid $color-gainsboro;
  }

  &--name {
    padding-bottom: 39px;

    @media (min-width: $vp-768) {
      margin-bottom: 63px;
      padding-right: 28px;
      padding-bottom: 0;
    }

    @media (min-width: $vp-1200) {
      margin-bottom: 71px;
      padding-right: 49px;
    }

    &::after {
      @media (min-width: $vp-768) {
        content: "";
        position: absolute;
        top: -61px;
        right: 0;

        width: 1px;
        height: calc(100% + 68px);

        background-color: $color-gainsboro;
      }
    }
  }

  &--contacts {
    padding-bottom: 34px;

    @media (min-width: $vp-768) {
      margin-bottom: 63px;
      padding-bottom: 0;
      padding-left: 28px;
    }

    @media (min-width: $vp-1200) {
      margin-bottom: 71px;
      padding-left: 49px;
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "";
        position: absolute;
        top: -61px;
        left: -1px;

        width: 1px;
        height: calc(100% + 68px);

        background-color: $color-gainsboro;
      }
    }
  }

  &--radio {
    @media (min-width: $vp-768) {
      margin-bottom: 48px;
    }

    @media (min-width: $vp-1200) {
      margin-bottom: 56px;
    }
  }

  &--checkbox {
    @media (min-width: $vp-768) {
      margin-bottom: 42px;
    }

    @media (min-width: $vp-1200) {
      margin-bottom: 56px;
    }
  }

  &--textarea {
    margin-bottom: 56px;
    padding-bottom: 0;

    @media (min-width: $vp-768) {
      margin-bottom: 49px;
    }
  }

  &--half {
    border-top: none;

    @media (min-width: $vp-768) {
      width: 50%;
    }
  }
}

.form__legend {
  width: 100%;
  max-width: 402px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: ($vp-768 - 1px)) {
    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-whisper-standart;
      transform: translateY(-24px);
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 28px;

    font-size: 21px;
  }
}

.form__inputs-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__radio-list {
  display: grid;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  gap: 16px;

  @media (min-width: $vp-768) {
    max-width: 576px;

    grid-template-columns: repeat(2, 280px);
  }

  @media (min-width: $vp-1200) {
    max-width: 960px;
    padding: 17px 53px;

    gap: 28px;
    grid-template-columns: 280px 280px 238px;
  }
}

.form__checkbox-list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  gap: 16px;

  @media (min-width: $vp-768) {
    max-width: 480px;

    column-gap: 32px;

    grid-template-columns: repeat(2, 224px);
  }

  @media (min-width: $vp-1200) {
    max-width: 960px;
    padding: 31px 45px;

    column-gap: 64px;

    grid-template-columns: 172px 170px 153px 184px;
  }
}

.form__inputs-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form__textarea {
  width: 100%;
  min-width: 279px;
  max-width: 768px;
  height: 150px;
  margin: 0 auto;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $ff-ptsans;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;

  resize: none;

  @media (min-width: $vp-768) {
    height: 160px;
  }

  &::placeholder {
    color: rgba($color-black, 0.3);

    opacity: 1;
  }

  &:hover {
    background-color: $color-whisper-standart;
  }

  &:focus-visible {
    background-color: $color-white;
    outline: 0;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }

  &:disabled {
    background-color: rgba($color-black, 0.3);
  }
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (max-width: ($vp-768 - 1)) {
    padding-bottom: 22px;
  }

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.form__button {
  width: 100%;
  margin-right: auto;
  padding: 16px 20px;

  @media (min-width: $vp-768) {
    max-width: 324px;
  }

  @media (min-width: $vp-1200) {
    max-width: 384px;
  }
}

.form__notice {
  max-width: 250px;
  margin: 0;
  margin-top: 3px;
  margin-left: auto;

  font-size: 12px;
  color: rgba($color-night-rider, 0.6);
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 23px;

    font-size: 14px;
    color: $color-night-rider;
  }
}
