.form-input {
  display: block;
}

.form-input__text {
  display: block;

  color: $color-night-rider;
  text-transform: uppercase;
}

.form-input__input {
  min-width: 280px;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;

  &::placeholder {
    color: rgba($color-black, 0.3);
  }
}
