.main-header {
  position: relative;

  padding: 17px 20px;

  &.no-js {
    padding: 0;
  }

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  display: flex;
  width: 185px;
  height: 96px;

  transform: translate(-50%);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
    opacity: 0.8;
  }
}

.main-header__toggle {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media (min-width: $vp-768) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 3px $color-roman-coffee solid;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.2;
  }
}
