.main-header {
  position: relative;

  padding: 17px 20px;

  &.no-js {
    padding: 0;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  display: flex;
  width: 185px;
  height: 96px;

  transform: translate(-50%);

  &:hover {
    opacity: 0.6;
  }
}

.main-header__toggle {
  margin-left: auto;
}
