.media-content__heading {
  padding: 37px 20px 38px 20px;

  @media (min-width: $vp-768) {
    padding: 66px 155px 81px 155px;
  }

  @media (min-width: $vp-1200) {
    padding: 100px 372px 87px 370px;
  }
}

.media-content__gallery {
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 0;
  }
}
