.navigation__list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-seagull;
  transform: translateY(-100%);

  transition: transform 0.3s ease;

  gap: 1px;

  .is-open & {
    display: grid;

    transform: translateY(0);
  }

  .no-js & {
    position: relative;

    display: grid;

    transform: translateY(0);

    transition: none;
  }

  @media (min-width: $vp-768) {
    position: relative;
    z-index: 0;

    display: grid;

    background-color: $color-white;
    transform: translateY(0);

    transition: none;

    gap: 0;
    grid-template-columns: repeat(5, 1fr);
  }
}

.navigation__item {
  box-shadow: 0 1px 0 rgba($color-light-black, 0.2), inset 0 1px 0 rgba($color-white, 0.2);

  @media (min-width: $vp-768) {
    box-shadow: none;
  }

  &:last-child {
    @media (max-width: ($vp-768 - 1px)) {
      background: linear-gradient(to bottom, rgba($color-black, 0) 90%, rgba($color-black, 0.2) 100%);
    }
  }

  &:nth-child(4n - 1) {
    @media (min-width: $vp-768) {
      grid-column-start: 4;
    }
  }
}

.navigation__link {
  display: block;
  padding: 17px 67px 12px 67px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $vp-768) {
    padding: 18px 20px 17px;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    background-color: $color-white;
  }

  &--current {
    @media (min-width: $vp-768) {
      color: $color-roman-coffee;
    }
  }

  &:hover {
    background-color: $color-shakespeare;

    @media (min-width: $vp-768) {
      color: $color-seagull;

      background-color: $color-white;
    }
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-darknest;

    @media (min-width: $vp-768) {
      color: rgba($color-black, 0.3);

      background-color: $color-white;
    }
  }

  &:focus-visible {
    outline: 3px $color-roman-coffee solid;

    @media (min-width: $vp-768) {
      color: $color-seagull;

      background-color: $color-white-smoke;
      outline: none;
    }
  }
}
