.page-footer {
  padding: 33px 82px;

  text-align: center;
  text-transform: uppercase;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 129px;
  margin: 0 auto;

  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;
  }
}
