.site-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.site-list.active {
  display: block;
}

.site-list__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-seagull;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 67px 12px 67px;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-shakespeare-darknest;
    color: rgba($color-white, 0.3);
  }
}
