.site-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  .is-open & {
    display: block;

    @media (min-width: $vp-768) {
      display: grid;
    }
  }

  .no-js & {
    position: relative;

    display: block;

    @media (min-width: $vp-768) {
      display: grid;
    }
  }
}

.site-list__item {
  &:nth-child(3) {
    @media (min-width: $vp-768) {
      grid-column-start: 4;
    }
  }
}

.site-list__link {
  display: block;
  padding: 17px 67px 12px 67px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-seagull;

  @media (min-width: $vp-768) {
    padding: 18px 20px 17px;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    background-color: $color-white;
  }

  &--current {
    @media (min-width: $vp-768) {
      color: $color-roman-coffee;
    }
  }

  &:hover {
    background-color: $color-shakespeare;

    @media (min-width: $vp-768) {
      background-color: $color-pink-swan;
    }
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-darknest;

    @media (min-width: $vp-768) {
      color: $color-black;

      background-color: $color-pink-swan;
      opacity: 0.6;
    }
  }
}
