.video {
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 0 200px 84px 200px;
  }
}

.video__text-wrapper {
  padding: 17px 6px 38px 8px;

  @media (min-width: $vp-768) {
    padding: 58px 26px 66px 28px;
  }

  @media (min-width: $vp-1200) {
    padding: 62px 26px 64px 26px;
  }
}

.video__title {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    font-size: 30px;
  }
}

.video__text {
  max-width: 445px;
  margin: 0 auto;

  color: $color-night-rider;
}

.video__image-wrapper {
  position: relative;
}

.video__image {
  display: block;
  width: 100%;
  max-height: 500px;

  object-fit: cover;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: block;
  width: 48px;
  height: 54px;

  background-color: rgba($color-white, 0.7);
  transform: translateX(-50%) translateY(-50%);

  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
