//colors
$color-whisper: #e7e5e5;
$color-whisper-standart: #e5e5e5;
$color-whisper-lightness: #eeeeee;
$color-whisper-darknest: #eaeaea;
$color-white: #ffffff;
$color-black: #000000;
$color-light-black: #010101;
$color-white-smoke: #f2f2f2;
$color-dark-green: #000101;
$color-seagull: #81b3d2;
$color-night-rider: #333333;
$color-pink-swan: #b3b3b3;
$color-shakespeare: #669ec0;
$color-shakespeare-darknest: #5496bd;
$color-roman-coffee: #766357;
$color-light-gray: #d6d6d6;
$color-gainsboro: #dbdbdb;


//шрифты
$ff-ptsans: "PT Sans", "Arial", sans-serif;


// Viewports

$vp-768: 768px;
$vp-1200: 1200px;
